/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Navigation Bar */
  .navbar {
    background-color: #232f3e;
    color: #ffffff;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-toggler-icon {
    background-color: #ffffff;
  }
  
  .nav-link {
    color: #ffffff !important;
  }
  
  /* Main Content */
  .container {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #dddddd;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  /* Pagination */
.pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 999;
  }
  
  .page-item.active .page-link {
    background-color: #232f3e;
    border-color: #232f3e;
    color: #ffffff !important;
  }
  
  .page-link {
    color: #232f3e !important;
  }
  
  /* Customize button styles */
  .btn-primary {
    background-color: #FF9900;
    border-color: #FF9900;
  }
  
  .btn-primary:hover {
    background-color: #FF8000;
    border-color: #FF8000;
  }
  
  
  /* Add additional styles as needed */
  
  