doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../images/favicon.png', type='image/gif')

    title My Home Interio

    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap', rel='stylesheet')
    link(href='../stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='../stylesheets/style.css', rel='stylesheet')
    link(href='../stylesheets/responsive.css', rel='stylesheet')

  body

    header.header_section
      .container-fluid
        nav.navbar.navbar-expand-lg.custom_nav-container
          a.navbar-brand(href='/')
            span My Home Interio
          div
            div.custom_menu-btn
              button(onclick='openNav()')
                span.s-1
                span.s-2
                span.s-3
              #myNav.overlay
                .overlay-content
                  a(href='/') Home
                  a(href='/about') About
                  a(href='/gallery') Gallery
                  a(href='/register') Register 
                  

    // end header section

    // about section
    section.about_section.layout_padding
      .container
        .row
          .col-md-6
            .img-box
              img(src='../images/about-img.jpg', alt='')
          .col-md-6
            .detail-box
              .heading_container
                h2 About Us
              p We are a team of passinate interior designers based in New York. We are commited to create the best solutions for each space. We have been in the business for more than 10 years and we have already finished more than 100 projects. We are commited to create the best solutions for each space. We have been in the business for more than 10 years and we have already finished more than 100 projects.
              a(href='') Read More

    // end about section

    // info section
    section.info_section.innerpage_info_section
      .container
        .row.info_main_row
          .col-md-6.col-lg-3
            .info_insta
              h4
                a.navbar-brand.m-0.p-0
                  span My Home Interio 
              p.mb-0 we design your dream home with our values and your budget. We are commited to create the best solutions for each space. We have been in the business for more than 10 years and we have already finished more than 100 projects.
          .col-md-6.col-lg-3
            .info_detail
              h4 Company
              p.mb-0 We are a team of passinate interior designers based in New York. We are commited to create the best solutions for each space. We have been in the business for more than 10 years and we have already finished more than 100 projects.
          .col-md-6.col-lg-3
            h4 Contact Us
            .info_contact
              a(href='')
                i.fa.fa-map-marker
                span Location
              a(href='')
                i.fa.fa-phone
                span Call +91 1234567890
              a(href='')
                i.fa.fa-envelope
                span my_home_interio@gmail.com
          .col-md-6.col-lg-3
            h4 Follow Us
            .social_box
              a(href='')
                i.fa.fa-facebook
              a(href='')
                i.fa.fa-twitter
              a(href='')
                i.fa.fa-linkedin
              a(href='')
                i.fa.fa-instagram

    // end info_section
    block content 
    // jQery
    script(src='../javascripts/jquery-3.4.1.min.js')
    // bootstrap js
    script(src='../javascripts/bootstrap.js')
    // custom js
    script(src='../javascripts/custom.js')
