block content 
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Design page 
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css")
    

  body
    // Navigation Bar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="#") My Home Interio 
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="#") Sign Up
          li.nav-item
            a.nav-link(href="#") Sign In
          li.nav-item
            a.nav-link(href="#") Design Page

    // Main Content
    section.container.mt-4
      h1 Interior Design - Available Designs
    
      // Design Items
      .row
      // Design Item 1
      .col-md-3.mb-4
        .card
          img.card-img-top(src="/images/04.jpg", alt="Design 1")
          .card-body
            h5.card-title Design Title 1
            p.card-text Description of Design 1
            a.btn.btn-primary(href="#", data-toggle="collapse", data-target="#details1") View Details
            #details1.collapse
              p More details about Design 1
              a.btn.btn-success(href="#") Book Now
      .row 
      // Design Item 2
      .col-md-3.mb-4
        .card
          img.card-img-top(src="/images/05.jpg", alt="Design 2")
          .card-body
            h5.card-title Design Title 2
            p.card-text Description of Design 2
            a.btn.btn-primary(href="#", data-toggle="collapse", data-target="#details2") View Details
            #details2.collapse
              p More details about Design 2
              a.btn.btn-success(href="#") Book Now

      .row 
      // Design Item 3
      .col-md-3.mb-4
        .card
          img.card-img-top(src="/images/05.jpg", alt="Design 2")
          .card-body
            h5.card-title Design Title 2
            p.card-text Description of Design 2
            a.btn.btn-primary(href="#", data-toggle="collapse", data-target="#details2") View Details
            #details2.collapse
              p More details about Design 2
              a.btn.btn-success(href="#") Book Now

      .row 
      // Design Item 4
      .col-md-3.mb-4
        .card
          img.card-img-top(src="/images/05.jpg", alt="Design 2")
          .card-body
            h5.card-title Design Title 2
            p.card-text Description of Design 2
            a.btn.btn-primary(href="#", data-toggle="collapse", data-target="#details2") View Details
            #details2.collapse
              p More details about Design 2
              a.btn.btn-success(href="#") Book Now



        // Add more design items as needed

    // Pagination (if you have many designs)
    .row.mt-4
      .col-md-12.text-center
        ul.pagination
          li.page-item
            a.page-link(href="#") Previous
          li.page-item
            a.page-link(href="#") 1
          li.page-item.active
            a.page-link(href="#") 2
          li.page-item
            a.page-link(href="#") 3
          li.page-item
            a.page-link(href="#") Next

  link(rel="stylesheet", href="amazon-style.css")
