doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../images/favicon.png', type='image/gif')

    title My Home Interio 

    // bootstrap core css
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.css')
    // fonts style
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap', rel='stylesheet')
    // lightbox Gallery
    link(rel='stylesheet', href='../stylesheets/ekko-lightbox.css')
    // font awesome style
    link(href='../stylesheets/font-awesome.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='../stylesheets/style.css', rel='stylesheet')
    // responsive style
    link(href='../stylesheets/responsive.css', rel='stylesheet')

  body

    // header section starts
    header.header_section.innerpage_header
      .container-fluid
        nav.navbar.navbar-expand-lg.custom_nav-container
          a.navbar-brand(href='/index')
            span My Home Interio 
          div
            div.custom_menu-btn
              button(onclick='openNav()')
                span.s-1
                span.s-2
                span.s-3
              #myNav.overlay
                .overlay-content
                  a(href='/') Home
                  a(href='/about') About
                  a(href='/gallery') Gallery
                  a(href='/register') Register

    // end header section

    // gallery section
    .gallery_section.layout_padding
      .container-fluid
        .heading_container.heading_center
          h2 Gallery
        .row
            .col-sm-8.col-md-6.px-0
                .img-box
                    img(src='../images/g1.jpg', alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')
            .col-sm-4.col-md-3.px-0
                .img-box
                    img(src='../images/g2.jpg', alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')
            .col-sm-6.col-md-3.px-0
                .img-box
                    img(src='../images/g3.jpg', alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')
            .col-sm-6.col-md-3.px-0
                .img-box
                    img(src='../images/g4.jpg', alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')
            .col-sm-4.col-md-3.px-0
                .img-box
                    img(src='../images/g5.jpg', alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')
            .col-sm-8.col-md-6.px-0
                .img-box
                    img(src='../images/g6.jpg', alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')
            
            .btn-box 
                // Add an ID to the button for JavaScript
                a#loadMore(href='javascript:void(0)') View All

                // Additional designs that are initially hidden
            .col-sm-6.col-md-3.px-0.hidden
                .img-box
                    img(src='../images/g6.jpg', alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')
            .col-sm-6.col-md-3.px-0.hidden
                .img-box
                    img(src='../images/g5.jpg', alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')
    
            .col-sm-6.col-md-3.px-0.hidden 
                .img-box 
                    img(src='../images/g4.jpg',alt='')
                    a(href='/register', data-toggle='lightbox', data-gallery='gallery')
                        i.fa.fa-picture-o(aria-hidden='true')


        
    // CSS for hiding additional designs initially
    style.
        /* Hide additional designs initially */
        .hidden {
            display: none;
        }


    // JavaScript for loading more designs
    script.
        // Get the "View All" button
        var loadMoreButton = document.getElementById('loadMore');
  
        // Add a click event listener to the button
        loadMoreButton.addEventListener('click', function() {
            // Select all hidden designs and show them
            var hiddenDesigns = document.querySelectorAll('.hidden');
            hiddenDesigns.forEach(function(design) {
            design.style.display = 'block';
            });

            // Hide the "View All" button
            loadMoreButton.style.display = 'none';
        });





    // end gallery section

    // info section
    section.info_section.innerpage_info_section
      .container
        .row.info_main_row
          .col-md-6.col-lg-3
            .info_insta
              h4
                a.navbar-brand.m-0.p-0
                  span My Home Interio 
              p.mb-0 We are a team of designers and developers that create high quality HTML Template & Woocommerce, Shopify Theme.
          .col-md-6.col-lg-3
            .info_detail
              h4 Company
              p.mb-0 our company is a first class engineering and construction company
          .col-md-6.col-lg-3
            h4 Contact Us
            .info_contact
              a(href='')
                i.fa.fa-map-marker(aria-hidden='true')
                span Location
              a(href='')
                i.fa.fa-phone(aria-hidden='true')
                span Call +91 1234567890
              a(href='')
                i.fa.fa-envelope
                span my_home_interio@gmail.com
          .col-md-6.col-lg-3
            h4 Follow Us
            .social_box
              a(href='')
                i.fa.fa-facebook(aria-hidden='true')
              a(href='')
                i.fa.fa-twitter(aria-hidden='true')
              a(href='')
                i.fa.fa-linkedin(aria-hidden='true')
              a(href='')
                i.fa.fa-instagram(aria-hidden='true')

    // end info_section
    block content 
    // jQery
    script(src='../javascripts/jquery-3.4.1.min.js')
    // bootstrap js
    script(src='../javascripts/bootstrap.js')
    // lightbox Gallery
    script(src='../javascripts/ekko-lightbox.min.js')
    // custom js
    script(src='../javascripts/custom.js')
