doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='')

    title My Home Interio

    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap', rel='stylesheet')
    link(href='../stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='../stylesheets/style.css', rel='stylesheet')
    link(href='../stylesheets/responsive.css', rel='stylesheet')
    link(href='../stylesheets/slider.css', rel='stylesheet')
    

  body

    header.header_section.innerpage_header
      .container-fluid
        nav.navbar.navbar-expand-lg.custom_nav-container
          a.navbar-brand(href='/')
            span My Home Interio
          div
            div.custom_menu-btn
              button(onclick='openNav()')
                span.s-1
                span.s-2
                span.s-3
              #myNav.overlay
                .overlay-content
                  a(href='/') Home
                  a(href='/about') About
                  a(href='/gallery') Gallery
                  a(href='/register') Register
                  

    // end header section
    section.main_section 
      .container 
        .row
          .col-md-12
            .main_heading 
              h1 My Home Interio
              p We design your dream Home 

              // gallery division
              .slideshow-container
                // Full-width images with number and caption text
                .mySlides.fade
                  .numbertext 1 / 3
                  img(src='../images/b1.jpg', style='width:40%')
                  .text Caption Text

                .mySlides.fade
                  .numbertext 2 / 3
                  img(src='../images/b2.jpg', style='width:40%')
                  .text Caption Two

                .mySlides.fade
                  .numbertext 3 / 3
                  img(src='../images/b3.jpg', style='width:40%')
                  .text Caption Three

                // Next and previous buttons
                a.prev(onclick='plusSlides(-1)') &#10094;
                a.next(onclick='plusSlides(1)') &#10095;

                br

                // The dots/circles
              div(style='text-align:center')
              span.dot(onclick='currentSlide(1)')
              span.dot(onclick='currentSlide(2)')
              span.dot(onclick='currentSlide(3)')

    // about client section
    section.client_section.innerpage_client_section
      .container
        .row
          .col-md-12
            .heading_container
              h2 Servies We Provide
              br
            .client_container
              .row
                .client_box
                  img(src='../images/s1.jpg', alt='image')
                  h2 Home Interior
                  br

                .client_box 
                  img(src='../images/s2.jpg', alt='image')
                  h2 Office Interior

                .client_box 
                  img(src='../images/s3.jpg', alt='image')
                  h2 Kitchen Interior

            p Head to our gallery page to book your appointment with us.
            a(href='/gallery') Book Now
            br

      
              

    // end about section

    // info section
    section.info_section.innerpage_info_section
      .container
        .row.info_main_row
          .col-md-6.col-lg-3
            .info_insta
              h4
                a.navbar-brand.m-0.p-0
                  span My Home Interio 
              p.mb-0 we design your dream home with our values and your budget. We are commited to create the best solutions for each space. We have been in the business for more than 10 years and we have already finished more than 100 projects.
          .col-md-6.col-lg-3
            .info_detail
              h4 Company
              p.mb-0 We are a team of passinate interior designers based in New York. We are commited to create the best solutions for each space. We have been in the business for more than 10 years and we have already finished more than 100 projects.
          .col-md-6.col-lg-3
            h4 Contact Us
            .info_contact
              a(href='')
                i.fa.fa-map-marker
                span Location
              a(href='')
                i.fa.fa-phone
                span Call +91 1234567890
              a(href='')
                i.fa.fa-envelope
                span my_home_interio@gmail.com
          .col-md-6.col-lg-3
            h4 Follow Us
            .social_box
              a(href='')
                i.fa.fa-facebook
              a(href='')
                i.fa.fa-twitter
              a(href='')
                i.fa.fa-linkedin
              a(href='')
                i.fa.fa-instagram

    // end info_section
    block content 
    // jQery
    script(src='../javascripts/jquery-3.4.1.min.js')
    // bootstrap js
    script(src='../javascripts/bootstrap.js')
    // custom js
    script(src='../javascripts/custom.js')
    // slider js
    script(src='../javascripts/slider.js')
