doctype html
html
  head
    title Signin Page
    link(rel='stylesheet', href='public/stylesheets/signin.css')
  body
    nav
      ul
        li
          a(href='/signup') Sign Up
        li
          a(href='/signin') Sign In
        li
          a(href='/design') Design Page
    main
      h1 Welcome to Interior Designing Company
      form(action='/signin', method='post')
        label(for='phone') Phone Number:
        input(type='tel', id='phone', name='phone', pattern='[0-9]{10}', required)
        button(type='submit') Login
